In [6]:
import sqlite3

# Function to initialize the database and insert users
def init_db_with_users(user_list):
    # Connect to SQLite database (or create it if it doesn't exist)
    conn = sqlite3.connect('users.db')
    c = conn.cursor()
    
    # Create table if it does not exist
    c.execute('''
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY,
            username TEXT NOT NULL,
            password TEXT NOT NULL
        )
    ''')
    
    # Delete all existing users
    c.execute("DELETE FROM users")
    
    # Insert users into the table
    for user in user_list:
        c.execute("INSERT INTO users (username, password) VALUES (?, ?)", (user['username'], user['password']))
    
    # Save (commit) the changes and close the connection
    conn.commit()
    conn.close()

# List of users to be added
users_to_add = [
    {'username': 'Lele', 'password': 'lele_123'},
    {'username': 'Augi', 'password': 'augi_123'},
    {'username': 'Consi', 'password': 'consi_123'},
    {'username': 'Mama', 'password': 'mama_123'},
    {'username': 'Papa', 'password': 'papa_123'},
    {'username': 'Oma', 'password': 'oma_123'},
    {'username': 'Jutta', 'password': 'jutta_123'},
    {'username': 'Peter', 'password': 'peter_123'},
    {'username': 'admin', 'password': 'admin_123'},

]

# Initialize the database and insert users
init_db_with_users(users_to_add)

In [7]:

# Function to read data from the database
def read_db():
    # Connect to SQLite database
    conn = sqlite3.connect('users.db')
    c = conn.cursor()
    
    # Query to select all data from users table
    c.execute("SELECT * FROM users")
    
    # Fetch all rows from the query result
    rows = c.fetchall()
    
    # Close the connection
    conn.close()
    
    # Return the fetched data
    return rows

# Reading the data from the database
user_data = read_db()

# Printing the user data
for user in user_data:
    print(user)

(1, 'Lele', 'lele_123')
(2, 'Augi', 'augi_123')
(3, 'Consi', 'consi_123')
(4, 'Mama', 'mama_123')
(5, 'Papa', 'papa_123')
(6, 'Oma', 'oma_123')
(7, 'Jutta', 'jutta_123')
(8, 'Peter', 'peter_123')
(9, 'admin', 'admin_123')

In [42]:
import pandas as pd

df = pd.read_csv("/Users/merbecksconstantin/Downloads/2024-06-14T16-35_export.csv")

df["Username"] = df["Username"].replace("Lia", "Lia & Klaus")
overall_votes = ['champion', 'vice_champion', 'third_place', 'fourth_place']

df_overall = df[df["Vote ID"].isin(overall_votes)].copy()

In [45]:
df = df[~df["Vote ID"].isin(overall_votes)]

df.loc[~df["Vote ID"].isin(overall_votes), "Group"] = df.loc[~df["Vote ID"].isin(overall_votes), "Vote ID"].apply(lambda x: x.split("_")[0])
df.loc[~df["Vote ID"].isin(overall_votes), "Place"] = df.loc[~df["Vote ID"].isin(overall_votes), "Vote ID"].apply(lambda x: x.split("_")[1])

df["Place"] = df["Place"].map({"1st": "1. Platz", "2nd": "2. Platz"})

In [46]:
# df = df[df["Vote ID"]]
df = df[["Username", "Group", "Place", "Vote Value"]]
df.head(19)

   Username Group     Place   Vote Value
0      Papa     A  1. Platz      Germany
1      Papa     A  2. Platz  Switzerland
2      Papa     B  1. Platz      Albania
3      Papa     B  2. Platz        Spain
4      Papa     C  1. Platz       Serbia
5      Papa     C  2. Platz     Slovenia
6      Papa     D  1. Platz       Poland
7      Papa     D  2. Platz      Austria
8      Papa     E  1. Platz      Romania
9      Papa     E  2. Platz      Belgium
10     Papa     F  1. Platz       Turkey
11     Papa     F  2. Platz     Portugal
16     Augi     A  1. Platz      Germany
17     Augi     A  2. Platz  Switzerland
18     Augi     B  1. Platz        Spain
19     Augi     B  2. Platz      Croatia
20     Augi     C  1. Platz      England
21     Augi     C  2. Platz     Slovenia
22     Augi     D  1. Platz  Netherlands

In [47]:
country_to_emoji = {
    "Germany": "ğŸ‡©ğŸ‡ª",
    "Switzerland": "ğŸ‡¨ğŸ‡­",
    "Albania": "ğŸ‡¦ğŸ‡±",
    "Spain": "ğŸ‡ªğŸ‡¸",
    "Serbia": "ğŸ‡·ğŸ‡¸",
    "Slovenia": "ğŸ‡¸ğŸ‡®",
    "Poland": "ğŸ‡µğŸ‡±",
    "Austria": "ğŸ‡¦ğŸ‡¹",
    "Romania": "ğŸ‡·ğŸ‡´",
    "Belgium": "ğŸ‡§ğŸ‡ª",
    "Turkey": "ğŸ‡¹ğŸ‡·",
    "Portugal": "ğŸ‡µğŸ‡¹",
    "Croatia": "ğŸ‡­ğŸ‡·",
    "England": "ğŸ´",
    "Netherlands": "ğŸ‡³ğŸ‡±"
}

df["Land"] = df["Vote Value"].map(country_to_emoji)

In [48]:
df

        Username Group     Place      Vote Value Land
0           Papa     A  1. Platz         Germany   ğŸ‡©ğŸ‡ª
1           Papa     A  2. Platz     Switzerland   ğŸ‡¨ğŸ‡­
2           Papa     B  1. Platz         Albania   ğŸ‡¦ğŸ‡±
3           Papa     B  2. Platz           Spain   ğŸ‡ªğŸ‡¸
4           Papa     C  1. Platz          Serbia   ğŸ‡·ğŸ‡¸
..           ...   ...       ...             ...  ...
103  Lia & Klaus     D  2. Platz     Netherlands   ğŸ‡³ğŸ‡±
104  Lia & Klaus     E  1. Platz         Belgium   ğŸ‡§ğŸ‡ª
105  Lia & Klaus     E  2. Platz         Ukraine  NaN
106  Lia & Klaus     F  1. Platz        Portugal   ğŸ‡µğŸ‡¹
107  Lia & Klaus     F  2. Platz  Czech Republic  NaN

[84 rows x 5 columns]